<h1>ArcGIS Server side oAuth</h1>
<p>Code sample using nodejs as backend:</p>



<p>
  <a href="<%= url %>">Login</a>
</p>
<% if (typeof error !== 'undefined'){ %>
  <p>Error: <%= error %></p>
<% } %>
